* {
  font-family: "Outfit", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 3rem;
  font-weigth: 900;
}

h2 {
  font-size: 1.5rem;
  font-weigth: 500;
}

p {
  font-size: 1rem;
  font-weigth: 400;
}

button {
  font-size: 1rem;
  font-weigth: 500;
}

.flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}
