* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.light {
  background: #fff;
  color: #222;
  width: 50%;
  height: 100vh;
}

.dark {
  background: #222;
  color: #fff;
  width: 50%;
  height: 100vh;
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.text-center {
  text-align: center;
}
