* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

body {
  background: #222;
  color: #fff;
  width: 100vw;
  height: 100vh;
}

h1 {
  font-size: 1.25rem;
  font-weight: 700;
  color: #222;
}
p {
  font-size: 1rem;
  font-weight: 400;
  color: #222;
}

span {
  font-size: 0.85rem;
  font-weight: 700;
  color: #222;
}

.card {
  max-width: 375px;
  border-radius: 1rem;
  background: #fff;
}

.card img {
  border-radius: 1rem 1rem 0 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.flex {
  display: flex;
}
.flex-end {
  justify-content: flex-end;
}

.justify-between {
  justify-content: space-between;
}

.button__primary {
  all: unset;
  border-radius: 0.5rem;
  background: #491eff;
  color: #fff;
  padding: 1rem;
}

.p-1 {
  padding: 1rem;
}

.mt-05 {
  margin-top: 0.5rem;
}

.mb-05 {
  margin-bottom: 0.5rem;
}
